@media only screen and (min-width: 300px) {
  .mainWrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 92% 8%;
    grid-template-areas: "tasksWrapper" "form";
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
  .tasksWrapper {
    grid-area: tasksWrapper;
    height: 100%;
    width: 100%;
    overflow-x: auto;
  }
  .headerWrapper {
    text-align: center;
  }
  .headerWrapper > h2 {
    margin: 0.25em;
    border-bottom: solid 1px lightgrey;
    font-weight: 500;
  }
  .todoFormWrapper {
    background: #2f8fe545;
  }
}

@media only screen and (min-width: 650px) and (max-width: 999px) {
  .mainWrapper {
    width: 100%;
    height: 100%;
  }
  .todoList > ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .todoForm > button {
    border-radius: 4px;
  }
}
@media only screen and (min-width: 999px) {
  .mainWrapper {
    width: 75%;
    height: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 90%;
    grid-template-areas: "form form" "tasksWrapper tasksWrapper";
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
  .tasksWrapper {
    display: flex;
    flex-flow: row nowrap;
  }

  .todoFormWrapper {
    grid-area: form;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 4px 4px;
  }
  .todoFormWrapper > h1 {
    color: white;
  }
  .todoListWrapper {
    width: 50%;
  }
  .doneListWrapper {
    width: 50%;
    border-left: solid 1px #e9e8e8;
  }
  .doneListWrapper,
  .todoFormWrapper,
  .todoListWrapper {
    padding: 1em;
  }
  .todoList {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .todoList > ul {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .task > p {
    width: 90%;
    text-align: start;
  }
  .task > span {
    width: 1em;
    height: 1em;
    padding: 0.15em;
    text-align: center;
    transition: ease 0.25s;
  }

  .trashWrapper,
  .undoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.25em;
    width: 1.25em;
  }
  .headerWrapper {
    width: 100%;
  }
  .todoForm > button {
    border-radius: 4px;
  }
  .inputWrapper > input {
    border-radius: 4px;
  }
}
