.formWrapper {
  width: 50%;
}
.todoForm {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.inputWrapper > label {
  font-weight: 600;
  color: white;
}
.inputWrapper > input {
  padding: 0.25em;
  border-radius: 5px;
  border: solid 1px lightgrey;
  margin-left: 0.5em;
}
.todoForm > button {
  padding: 0.25em 1em;
  border-radius: 5px;
  background: white;
  border: none;
  color: #000;
  font-weight: 600;
  transition: ease 0.25s;
}
.todoForm > button:hover {
  background: #81ce81;
}
.todoForm > button:active {
  background: #0f0;
}
.todoForm > * {
  margin-left: 0.5em;
}
